.contact {
  background-color: black;
  color: white;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  textarea {
    background: transparent;
    color: silver;
    border: none;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid white;
    width: 100%;
  }
}

.form-button {
  display: flex;
  justify-content: center;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;

  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
  }
}

.name-email {
  width: 100%;
  textarea {
    width: 49%;
  }
}

#contact-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 15px;
  font-size: 1rem;
  padding: 15px 20px;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: white;
  }

}