.gallery {
  background-color: black;
  color: white;
  padding-top: 25px;
  max-width: 1150px;
  margin: 0 auto;
  h1 {
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 50px;
  }
}

.embedded-video {
  display: flex;
  justify-content: center;
}

.gallery-posts {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 225px;
  padding: 0px 5px;
  cursor: pointer;
}

.gallery-image {
  position: relative;
  img {
    height: 150px;
    width: 225px;
    object-fit: cover;
  }
}

.gallery-image-text {
  position: absolute;
  top: 0px;
  margin: 10px;
}
