.gallery {
  background-color: black;
  color: white;
  padding-top: 25px;
  h1 {
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 50px;
  }
}

.embedded-video {
  display: flex;
  justify-content: center;
  video {
    width: 950px;
  }
}

.video-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}

.video-description-text {
  display: flex;
  justify-content: space-between;

  img {
    width: 100px;
    border-radius: 50px;
  }

  h3 {
    padding: 0px 50px;
  }
}

.gallery-posts {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 225px;
  padding: 0px 5px;
  cursor: pointer;
}

.gallery-image {
  position: relative;
  img {
    height: 150px;
    width: 225px;
    object-fit: cover;
  }
}

.gallery-image-text {
  position: absolute;
  top: 0px;
  margin: 10px;
  height: 130px;
  overflow: auto;
}
