.title {
  text-align: center;
  font-size: 2rem;
}

.hero {
  background-color: beige;
  padding: 150px 20px;

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.portfolio {
  margin-top: 25px;
  display: flex;
  justify-content: center;

  figure {
    border: 1px solid black;
  }
}

.portfolio {
  figure {
    img {
      width: 200px;
      height: 200px;
    }
  }
}