header {
  display: flex;
  align-items: center;
  margin-left: 50px;
  background-color: #ffffff;
  color: black;
  a {
    text-decoration: none;
  }
}

.header-title {
  h2 {
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
  }
  padding: 30px 0px;
}
