nav {
  background-color: black;
  padding: 20px 0;

  ul {
    display: flex;
    a {
      color: white;
      text-decoration: none;
      padding: 0px 30px;

      &:hover {
        color: silver;
      }
    }
  }
}
