body {
  background-color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  max-width: 1175px;
  margin: 0 auto;
}

body {
  height: 100vh;
  margin: 0;
}

//Keeps footer at the bottom of the page
body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
